h6 {
  position: relative;
}
h6:before {
  background-color:rgb(221, 216, 216);
  display: block;
  width: 100px;
  height: 1px;
  content: "";
  position: absolute;

  top: 60%;
  right: 30px;
}
h6:after {
  background-color: rgb(221, 216, 216);
  display: block;
  width: 100px;
  height: 1px;
  content: "";
  position: absolute;
  left: 30px;
  top: 60%;
}
